PowerAutomate Templates/SecplugsTemplatefornewlycreatedfilesindropbox/Microsoft.Flow/flows/45468ca2-1d31-401a-824c-b6af30425874/definition.json
{"name":"27b4c4af-65f3-4f6b-b92b-09249fc4848b","id":"/providers/Microsoft.Flow/flows/27b4c4af-65f3-4f6b-b92b-09249fc4848b","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Scan newly added files in DropBox using Secplugs","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"384e195d-a4da-48dd-9b14-ee05d09399b3","type":"User","tenantId":"0dc6503c-0538-49ef-abb4-1924e8a6ddcb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-08-08T12:08:53.9315309Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_file_is_created":{"recurrence":{"frequency":"Minute","interval":1},"metadata":{"id:quNI60oaYhYAAAAAAAAAIw":"/photos"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_dropbox","connectionName":"shared_dropbox","operationId":"OnNewFile"},"parameters":{"folderId":"id:quNI60oaYhYAAAAAAAAAIw","inferContentType":true},"authentication":"@parameters('$authentication')"}}},"actions":{"Scan_files_using_SecPlug_Scan":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","connectionName":"shared_secplugscan","operationId":"filescan"},"parameters":{"x-api-key":"GW5sb8sj8D9CtvVrjsTC22FNljxhoVuL1UoM6fFL","x-client-id":"@outputs('Get_my_profile_(V2)')?['body/id']","body/filename":"@triggerOutputs()?['headers/x-ms-file-name-encoded']","body/data":"@base64(triggerOutputs()?['body'])"},"authentication":"@parameters('$authentication')"}},"Get_my_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Scan of newly created file @{triggerOutputs()?['headers/x-ms-file-name-encoded']} in dropbox is successful","request/text":"<p>Detailed report can be found at @{outputs('Scan_files_using_SecPlug_Scan')?['body/user_report_url']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scan_files_using_SecPlug_Scan":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Scan of newly created file @{triggerOutputs()?['headers/x-ms-file-name-encoded']} in dropbox failed","request/text":"<p>Scan failed.</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["",""]},"type":"If"}}},"connectionReferences":{"shared_dropbox":{"connectionName":"shared-dropbox-5d80bf34-bb9b-485e-9cf8-b534-12d8bf72","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_dropbox","tier":"NotSpecified"},"shared_secplugscan":{"connectionName":"d5595ba8072c47b59d1697f8f4fc470f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","tier":"NotSpecified"},"shared_office365users":{"connectionName":"9fb9609d6a59493e9e7c894d41f834b6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"5beda7b61c4e4065a38e0ddc2a583129","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}