PowerAutomate Templates/SecplugsTemplateforIncomingExchangemailscan/Microsoft.Flow/flows/1faaa781-46b3-4356-8459-e4332b1212a6/definition.json
{"name":"f0bd1cac-fae6-4890-8ec4-739862bd2776","id":"/providers/Microsoft.Flow/flows/f0bd1cac-fae6-4890-8ec4-739862bd2776","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Scan Exchange mails when a new email comes using Secplugs","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"384e195d-a4da-48dd-9b14-ee05d09399b3","type":"User","tenantId":"0dc6503c-0538-49ef-abb4-1924e8a6ddcb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-08-08T12:15:14.7266895Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_new_email_arrives_(V3)":{"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnectionNotification","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"OnNewEmailV3"},"parameters":{"folderPath":"Inbox","includeAttachments":false,"importance":"Any","fetchOnlyWithAttachment":false},"authentication":"@parameters('$authentication')"}}},"actions":{"Scan_Emails_using_SecPlug_Scan":{"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","connectionName":"shared_secplugscan","operationId":"emailscan"},"parameters":{"x-api-key":"GW5sb8sj8D9CtvVrjsTC22FNljxhoVuL1UoM6fFL","x-client-id":"@outputs('Get_my_profile_(V2)')?['body/id']","body/filename":"@triggerOutputs()?['body/id']","body/data":"@base64(triggerOutputs()?['body'])"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Secplugs Scan was successful for file @{outputs('Scan_Emails_using_SecPlug_Scan')?['body/scan_context/file_name']}","request/text":"<p>Detailed report can be found at @{outputs('Scan_Emails_using_SecPlug_Scan')?['body/user_report_url']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scan_Emails_using_SecPlug_Scan":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Secplugs Scan got failed for file @{outputs('Scan_Emails_using_SecPlug_Scan')?['body/scan_context/file_name']}","request/text":"<p>Secplugs Scan got failed for file @{outputs('Scan_Emails_using_SecPlug_Scan')?['body/scan_context/file_name']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Scan_Emails_using_SecPlug_Scan')?['body/status']","success"]},"type":"If"},"Get_my_profile_(V2)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_secplugscan":{"connectionName":"d5595ba8072c47b59d1697f8f4fc470f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"5beda7b61c4e4065a38e0ddc2a583129","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"},"shared_office365users":{"connectionName":"9fb9609d6a59493e9e7c894d41f834b6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_office365":{"connectionName":"shared-office365-0ef2caeb-46c2-4525-895d-6943-c7fe94ff","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}