PowerAutomate Templates/SecplugsTemplateforSharepointfilecreation/Microsoft.Flow/flows/3cdeb564-4998-4936-a592-5e574188e85d/definition.json
{"name":"149d98b0-6581-41a3-a46d-ae94401bddb6","id":"/providers/Microsoft.Flow/flows/149d98b0-6581-41a3-a46d-ae94401bddb6","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Scan newsly added files in Sharepoint using Secplugs","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"384e195d-a4da-48dd-9b14-ee05d09399b3","type":"User","tenantId":"0dc6503c-0538-49ef-abb4-1924e8a6ddcb"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2021-08-08T11:57:12.7820233Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":1},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://secplugs.sharepoint.com/sites/testsecplugs","table":"TestSecplugs"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_file_content":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"parameters":{"dataset":"https://secplugs.sharepoint.com/sites/testsecplugs","id":"@triggerOutputs()?['body/{Identifier}']","inferContentType":true},"authentication":"@parameters('$authentication')"}},"Get_attachments":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItemAttachments"},"parameters":{"dataset":"https://secplugs.sharepoint.com/sites/testsecplugs","table":"TestSecplugs","itemId":"@triggerOutputs()?['body/ID']"},"authentication":"@parameters('$authentication')"}},"Get_my_profile_(V2)":{"runAfter":{"Get_attachments":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365users","connectionName":"shared_office365users","operationId":"MyProfile_V2"},"parameters":{},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@body('Get_attachments')?['body']","actions":{"Get_attachment_content":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetAttachmentContent"},"parameters":{"dataset":"https://secplugs.sharepoint.com/sites/testsecplugs","table":"testsecplugs","itemId":"@triggerOutputs()?['body/ID']","attachmentId":"@items('Apply_to_each')?['Id']"},"authentication":"@parameters('$authentication')"}},"Scan_files_using_SecPlug_Scan":{"runAfter":{"Get_attachment_content":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","connectionName":"shared_secplugscan","operationId":"filescan"},"parameters":{"x-api-key":"Eon5K2yRzw1bHLZqABCDradRbFzLLkbDiiewvMrh","x-client-id":"@outputs('Get_my_profile_(V2)')?['body/id']","body/filename":"@items('Apply_to_each')?['DisplayName']","body/data":"@base64(outputs('Get_attachment_content')?['body'])"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Secplugs Scan was successful for file @{triggerOutputs()?['body/{Name}']}","request/text":"<p>Detailed report can be found at @{outputs('Scan_files_using_SecPlug_Scan')?['body/user_report_url']}</p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Scan_files_using_SecPlug_Scan":["Succeeded"]},"else":{"actions":{"Send_an_email_notification_(V3)_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail","connectionName":"shared_sendmail","operationId":"SendEmailV3"},"parameters":{"request/to":"@{outputs('Get_my_profile_(V2)')?['body/mail']};","request/subject":"Secplugs Scan got failed for file @{triggerOutputs()?['body/{Name}']}","request/text":"<p>Secplugs Scan got failed for file @{triggerOutputs()?['body/{Name}']}</p>"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Scan_files_using_SecPlug_Scan')?['body/status']","success"]},"type":"If"}},"runAfter":{"Get_my_profile_(V2)":["Succeeded"]},"type":"Foreach"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"f0216805fea446c2953e43c264061181","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_office365users":{"connectionName":"9fb9609d6a59493e9e7c894d41f834b6","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"},"shared_secplugscan":{"connectionName":"d5595ba8072c47b59d1697f8f4fc470f","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_secplugscan","tier":"NotSpecified"},"shared_sendmail":{"connectionName":"5beda7b61c4e4065a38e0ddc2a583129","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sendmail","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}